---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "kepler.name" . }}-clusterrole
rules:
- apiGroups: [""]
  resources:
  - nodes/metrics # access /metrics/resource
  - nodes/proxy # access /pods
  - nodes/stats # access /pods
  verbs:
  - get
  - watch
  - list

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "kepler.name" . }}-clusterrole-binding
roleRef:
  kind: ClusterRole
  name: {{ .Chart.Name }}-clusterrole
  apiGroup: "rbac.authorization.k8s.io"
subjects:
- kind: ServiceAccount
  name: {{ include "kepler.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}