name: Release Charts
on:
  push:
    branches:
      - main
    paths:
      - 'chart/**'

jobs:
  release:
    permissions:
      contents: write # needed to write releases
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # v3
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@b7246b12e77f7134dc2d460a3d5bad15bbe29390 # v4.1.0
        with:
          version: latest

      - name: Prepare keys for signing
        env:
          SIGNING_KEY_BASE64: ${{ secrets.HELM_SIGNING_PRIVATE_KEY }}
          SIGNING_KEY_PASSPHRASE_BASE64: ${{ secrets.HELM_SIGNING_PRIVATE_KEY_PASSPHRASE }}
          KEY_PATH: ".gpg-dir"
          SIGNING_KEY_PATH: ".gpg-dir/secring.gpg"
          SIGNING_KEY_PASSPHRASE_PATH: ".gpg-dir/passphrase"
        run: |
          mkdir "$KEY_PATH"
          base64 -d <<< "$SIGNING_KEY_BASE64" > "$SIGNING_KEY_PATH"
          base64 -d <<< "$SIGNING_KEY_PASSPHRASE_BASE64" > "$SIGNING_KEY_PASSPHRASE_PATH"
          echo "CR_PASSPHRASE_FILE=$SIGNING_KEY_PASSPHRASE_PATH" >> "$GITHUB_ENV"
          echo "CR_KEYRING=$SIGNING_KEY_PATH" >> "$GITHUB_ENV"

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@cae68fefc6b5f367a0275617c9f83181ba54714f # v1.7.0
        with:
          charts_dir: chart
          config: cr.yaml
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
